/* 控制器输出消息Tab属性定义 */
tabbed-output {
    display: block;
    margin: 6px 8px;
    /* border: 1px solid orange;   */
}

tabbed-output input[type='radio'] {
    display: none;
}

/* 控制器输出消息Tab->Label属性定义 */
tabbed-output label {
    padding: 5px 8px;
    font-size: 0.6em;
    border-radius: 3px 3px 0 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    transition: all 0.3s;
}

tabbed-output label:hover {
    cursor: pointer;
}

/* 输出表格显示选择事件 */
/* -- 消息输出 */
#_idMasterMsgOutput0:checked ~table-mastermsg[id="_idTableMasterMsg0"] {
    display: block;
}
#_idMasterMsgOutput1:checked ~table-mastermsg[id="_idTableMasterMsg1"] {
    display: block;
}
#_idMasterMsgOutput2:checked ~table-mastermsg[id="_idTableMasterMsg2"] {
    display: block;
}
#_idMasterMsgOutput3:checked ~table-mastermsg[id="_idTableMasterMsg3"] {
    display: block;
}

/* -- 传感器数据输出 */
#_idSensoDataOutput0:checked ~table-sensordata[id="_idTableDataList0"] {
    display: block;
}
#_idSensoDataOutput1:checked ~table-sensordata[id="_idTableDataList1"] {
    display: block;
}
#_idSensoDataOutput2:checked ~table-sensordata[id="_idTableDataList2"] {
    display: block;
}
#_idSensoDataOutput3:checked ~table-sensordata[id="_idTableDataList3"] {
    display: block;
}

/* 设置Tab选中标签显示样式 */
#_idMasterMsgOutput0:checked + label,
#_idSensoDataOutput0:checked + label
 {
    box-shadow: 1px 1px 5px rgba(90, 90, 90, 0.6);
    background-color: #4260e7;
    color: white;
}
#_idMasterMsgOutput1:checked + label,
#_idSensoDataOutput1:checked + label
 {
    box-shadow: 1px 1px 5px rgba(90, 90, 90, 0.6);
    background-color: #4260e7;
    color: white;
}
#_idMasterMsgOutput2:checked + label,
#_idSensoDataOutput2:checked + label
 {
    box-shadow: 1px 1px 5px rgba(90, 90, 90, 0.6);
    background-color: #4260e7;
    color: white;
}
#_idMasterMsgOutput3:checked + label,
#_idSensoDataOutput3:checked + label
 {
    box-shadow: 1px 1px 5px rgba(90, 90, 90, 0.6);
    background-color: #4260e7;
    color: white;
}