/* 定义试验视图控制器容器的布局属性 */
 view-test {
    display: grid;
    grid-template:
        "ctrlview0 ctrlview1"
        "ctrlview2 ctrlview3";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 3px;
}

.ctrl-view0 {
    grid-area: ctrlview0;
}

.ctrl-view1 {
    grid-area: ctrlview1;
}

.ctrl-view2 {
    grid-area: ctrlview2;
}

.ctrl-view3 {
    grid-area: ctrlview3;
}