/* 控制器输出消息位置及样式定义 开始 */
ctrl-output {
    grid-area: mastermsg;

    margin: 3px;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(120, 120, 120, 0.6);
    /*border: 1px solid red;*/ 
}
/* 控制器输出消息位置及样式定义 结束 */