ctrl-posttest {
    display: none; /* 初始不显示,本次试验结束后显示 */
    position: absolute;
    top: 105px;
    left: 265px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(120, 120, 120, 0.6);
    z-index: 1;
    transition: all 2s;
}

.dlgposttest {
    display: block;
    padding: 5px 8px;
    background-color: white;
    border-radius: 3px;
    margin: 3px;
    width: 360px;
}

.dlgposttest fieldset {
    margin: 3px 5px;
    border: 1px solid silver;
    border-radius: 3px;
}

.dlgposttest fieldset input[type='text'] {
    margin-top: 6px;
    font-size: 16px;
}

.posttestbutton {
    padding: 3px;
    width: 55px;
    margin: 5px;
    cursor: pointer;
    margin-left: 280px;
}
