/* 试验控制器视图布局格式及样式定义 */
ctrl-view {
    display: grid;
    grid-template:
        "toolbar    toolbar"
        "timer      tempchart"
        "temp1      tempchart"
        "temp2      tempchart"
        "tempsuf    tempchart"
        "tempcen    tempchart"
        "tempdrift  tempchart"
        "mastermsg  mastermsg";
    grid-template-rows: 32px 1fr 1fr 1fr 1fr 1fr 1fr 215px;
    grid-template-columns: 200px 1fr;

    margin: 5px;
    position: relative;  /* 为了显示试验结束后信息录入对话框 */
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(120, 120, 120, 0.6);
}