ctrl-setparam {
    display: none; /* 初始不显示,点击参数设置后显示 */
    position: absolute;
    top: 25px;
    left: 275px;
    width: 550px;
    height: 186px;
    font-size: 15px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(120, 120, 120, 0.6);
    z-index: 1;
    transition: all 0.3s;
}

ctrl-setparam form {
    display: grid;
    padding: 5px;
    grid-template-columns: 105px 145px 105px 145px;
    row-gap: 5px;
}

ctrl-setparam label {
    text-align: right;
    margin-top: 8px;
    margin-right: 3px;
}

ctrl-setparam input[type='text'], input[type='date'] {
    width: 100%;
    padding: 3px 3px;
    margin-top: 5px;
    font-size: 15px;
    border: 1px solid silver;
    border-radius: 3px;
    outline: none;
    transition: all 0.3s;
}

ctrl-setparam input[type='text']:focus, input[type='date']:focus {
    border-color: rgba(66, 96, 231,0.8);
}

ctrl-setparam .cmdbutton {
    padding: 2px 5px;
    width: 65px;
    height: 30px;
    margin: 3px auto;
    cursor: pointer;
    border: 1px solid;
    border-radius: 3px;
    background-color: #4260e7;
    color: white;
    transition: all 0.3s;
}

ctrl-setparam .cmdbutton:hover {
    background-color: rgb(231, 184, 97);
}

ctrl-setparam #btnSubmit0,
ctrl-setparam #btnSubmit1,
ctrl-setparam #btnSubmit2,
ctrl-setparam #btnSubmit3 {
    margin-left: 380px;
}
