/* 试验控制器消息表格属性定义 */
table-mastermsg {
    display: none;
    margin-top: 8px;
    height: 132px;
    font-size: 0.8em;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid silver;
}

/* 设置表格显示宽度及边框样式 */
table-mastermsg table {
    width: 100%;
    border-collapse: collapse;
}

/* 设置表头及表格单元格共通显示属性 */
table-mastermsg th,td {
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    text-align: center;
    padding: 3px 5px;
}

/* 设置表头固定及背景色 */
table-mastermsg th {
    position: sticky;
    top: 0;
    font-weight:normal;
    background-color: #4260e7;
    color: white;
}

/* 鼠标滑动表格行背景变色 */
table-mastermsg tbody tr:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

/* ScrollBar属性定义 */
/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    background-color: white;
}

::-webkit-scrollbar-thumb {
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    background-color: #4260e7;
} */

